
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: #999;
}
a:hover {
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  background-color: #333;
  min-height: 100vh;
  font-family: sans-serif;
}

header,
footer {
  font-family: Impact, sans-serif;
  text-align: center;
  color: #999;
  background-color: #111;
  padding: 20px;
}

main {
  margin: 15px 0 15px 0;
}

footer {
  font-family: sans-serif;
}

img {
  object-fit: contain;
}

h2 {
  font-size: 22px;
  padding-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  background-color: #444;
  box-shadow: 0 0 15px #000;
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background-color: #666;
  box-shadow: 0 0 10px #000;
  border-radius: 5px;
}

.card h2 {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
}

.card img {
  width: 250px;
  height: 250px;
}

#popup {
  cursor: pointer;
  box-shadow: 0 0 20px #000;
  background-color: #999999;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: top 300ms ease;
  top: -50vh;
  left: 50vw;
  z-index: 2;
}

#popup h2 {
  text-align: center;
}

#popup img {
  width: 80vw;
  height: 60vh;
}

.frame {
  background-color: #111;
  border-radius: 5px;
}

.flags > * {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #333333;
  color: #999999;
  cursor: pointer;
}

.flags > *:hover {
  color: #eaeaea;
}

.comments {
  max-height: 17vh;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 20px;
  color: #111111;
  background-color: #eaeaea;
  box-shadow: inset 0 0 5px #000;
}

.comments > * {
  padding: 5px 10px;
  margin: 10px;
  border-bottom: 1px solid #333333;
  border-left: 2px solid #333333;
  border-radius: 5px;
}